.env
.DS_Store
.vscode/*
!.vscode/extensions.json

# Ignore dotnet build files
**/Debug/**
**/project-cache/**
**/.vs/**
**/obj/**

# Dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
composer.lock